@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

body {
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    background: hsl(185, 41%, 84%);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    margin-top: 15%;
}

.card {
    width: 100%;
    height: auto;
    border-radius: 15px;
    background: white;
    margin-top: 15%;
    
}

.inside-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, span {
    margin-top: 4%;
}
input {
    font-family: 'Space Mono', monospace;
    color: hsl(183, 100%, 15%);
    font-size: 1.1rem;
    font-weight: 700;
}

span {
    color: gray;
    font-size: 0.8rem;
}

.button-list {
    display: flex;
    max-width: 390px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    
}

.button {
    width: 120px;
    margin: 10px;
    border-style: none;
    border-radius: 5px;
    color: hsl(183, 100%, 15%);
    height: 35px;
    background: hsl(184, 14%, 56%);
    font-weight: 700;
    font-size: 1.1rem;
    font-family: 'Space Mono', monospace;
}

button {
    width: 120px;
    margin: 10px;
    border-style: none;
    border-radius: 5px;
    color: white;
    height: 35px;
    background: hsl(183, 100%, 15%);
    font-weight: 700;
    font-size: 1.1rem;
    font-family: 'Space Mono', monospace;
}

.custom {
    width: 120px;
    margin: 10px;
    border: none;
    background: hsl(185, 41%, 84%);
    height: 35px;
    border-radius: 5px;
    text-align: center;

}

.top-input {
    width: 80%;
    height: 35px;
    border: none;
    background: hsl(185, 41%, 84%);
    border-radius: 5px;
}

.group-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input-fail {    
    border: solid 2px red;
}

.card-bottom {
    width: 85%;
    background: hsl(183, 100%, 15%);
    height: auto;
    border-radius: 15px;
    margin-top: 10%;
    margin-bottom: 10%;
}

.first-result, .second-result {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8%;
}

.tip {
    width: 100px;
}


.inside-card-bottom {
    margin-top: 10%;
    padding-bottom: 10%;
}

.tip {
    color: white;
}

.person {
    color: gray;
    font-size: 0.8rem;
}

.price {
    color: gray;
    font-size: 1.4rem;
}

#reset {
    background: hsl(184, 14%, 56%);
    margin-top: 5%;
    color: hsl(183, 100%, 15%);
}

.reset-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#bill {
    background-image: url(./icon-dollar.svg);
    background-repeat: no-repeat;
    background-position: 95%;
    padding-left: 4%;
}

#people {
    background-image: url(./icon-person.svg);
    background-repeat: no-repeat;
    background-position: 95%;
    padding-left: 4%;
}

button:hover {
    background: hsla(183, 100%, 15%, 0.8);;
}

#reset:hover {
    transform : scale(1.1, 1.1)
}

/*Version Desktop*/

@media screen and (min-width : 1000px) {

    

    .card {
        width: 68%;
    }

    .inside-card {
        display: flex;
        flex-direction: row;
    }


    .group-input {
        align-items: flex-start;
        margin-top: -4%;
        margin-left: 2%;
    }

    .button-list {
        justify-content: flex-start;
        margin-top: 3%;
        max-width: 610px;
    }

    button {
        width: 180px;
        height: 50px;
        font-size: 1.3rem;
        margin-left: 0;
    }

    .custom {
        width: 180px;
        height: 50px;
        font-size: 1.3rem;
        margin-left: 0;
    }

    .logo {
        margin-top: 5%;
    }

    .card {
        margin-top: 5%;
        min-width: 900px;
    }

    .card-bottom {
        height: 450px;
        margin: 2%;
    }

    .price {
        font-size: 3.5rem;
    }

    #reset {
        width: 75%;
        margin-top: 20%;
        height: 50px;
    }

    .button {
        width: 180px;
        height: 50px;
        font-size: 1.3rem;
        margin-left: 0; 
    }

    .top-input {
        width: 92%;
    }
}
